@use "@abstracts/mixins" as mx;
@use "@abstracts/variables" as vars;

.container {
    @include mx.main-container;

    gap: 2rem;
}

.container__note {
    @include mx.text-l;

    color: vars.$color-text-light;
}

.container__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background: vars.$color-white;

    @media (min-width: vars.$laptop) {
        padding: 0;
    }
}

.container__backdrop {
    flex-grow: 1;
}
