@use "@abstracts/mixins" as mx;

.textbook {
  @include mx.main-container;
}

.textbook__controls {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-start;
}

.textbook__column--main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.textbook__word {
  &--transcription {
    font-style: italic;
    @include mx.text-xs;
  }

  &--writing {
    @include mx.text-headline-s;
  }
}
