@use "@abstracts/variables" as vars;

.footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: vars.$charcoal-blue;

  @media (min-width: vars.$tablet) {
    display: none;
  }
}
