@use "@abstracts/variables" as vars;
@use "@abstracts/mixins" as mx;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: vars.$color-white;
    white-space: nowrap;
    cursor: pointer;
    transition:
        color 150ms,
        background-color 150ms;

    &:disabled,
    &[aria-disabled="true"] {
        pointer-events: none;
        opacity: 0.5;
    }

    &--primary {
        cursor: pointer;
        background-color: vars.$burnt-peach;

        &:hover {
            background-color: vars.$burnt-peach-dark;
        }

        &:active {
            background-color: vars.$charcoal-blue;
        }
    }

    &--secondary {
        color: vars.$verdigris-dark;
        cursor: pointer;
        background-color: vars.$color-stroke-25;
        border: 0;

        &:hover {
            background-color: vars.$color-stroke-50;
        }

        &:active {
            color: vars.$color-white;
            background-color: vars.$charcoal-blue;
        }
    }

    &--transparent {
        color: vars.$color-text-dark;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            background-color: vars.$color-stroke;
        }

        &:active {
            color: vars.$color-white;
            background-color: vars.$charcoal-blue;
        }
    }

    &--small {
        min-width: 2rem;
        min-height: 2rem;
        padding-inline: 1rem;
        border-radius: vars.$radius-default;

        @include mx.text-btn-s;
    }

    &--medium {
        min-width: 2.5rem;
        min-height: 2.5rem;
        padding-inline: 1rem;
        border-radius: vars.$radius-default;

        @include mx.text-btn-m;
    }

    &--big {
        min-width: 3rem;
        min-height: 3rem;
        padding-inline: 1.25rem;
        border-radius: vars.$radius-default;

        @include mx.text-btn-m;
    }
}
