@use "sass:color";

// breakpoints

$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop-s: 1440px;
$desktop: 1920px;

// system colors
$color-white: #fff;
$color-black: #000;
$color-error-100: #fee4e2;
$color-error-300: #fda29b;
$color-error-500: #f04438;
$color-error-700: #b42318;
$color-success-100: #d1fadf;
$color-success-300: #6ce9a6;
$color-success-500: #12b76a;
$color-success-700: #027a48;
$color-info-100: #d1e9ff;
$color-info-300: #b2ddff;
$color-info-500: #53b1fd;
$color-info-700: #1849a9;
$color-warning-100: #fef0c7;
$color-warning-300: #fedf89;
$color-warning-500: #fdb022;
$color-warning-700: #b54708;

// specific colors

$color-text-dark: #161616;
$color-text-semidark: #333;
$color-text-light: #626262;
$color-stroke: #c7c7c7;
$color-stroke-50: color.mix($color-stroke, #fff, 65%);
$color-stroke-25: #f3f3f3;

// Neutral
$cream-50: #fff;
$charcoal-blue: #161616;
$verdigris: #c63812;
$verdigris-dark: #a32c0c;
$tuscan-sun: #e8b300;
$sandy-brown: #d76c21;
$burnt-peach: #c63812;
$burnt-peach-dark: #a32c0c;

// border

$radius-default: 2px;

// shadows
$shadow-big: 0 12px 32px rgb(41 45 41 / 12%);
$shadow-medium: 0 4px 12px rgb(41 45 41 / 8%);
$shadow-old: 0 2px 6px rgb(41 45 41 / 8%);
$shadow-small-outlined: 0 0 0 2px color.change($verdigris, $alpha: 0.25);
$shadow-small-outlined-error: 0 0 0 4px $color-error-100;
