.svg {
    display: flex;

    svg {
        width: 100%;
        height: 100%;

        path {
            transition:
                stroke 0.25s ease,
                fill 0.25s ease;
        }
    }

    &--stroke {
        svg path {
            stroke: currentcolor;
        }
    }

    &--fill {
        svg path {
            fill: currentcolor;
        }
    }
}
