@use "@abstracts/variables" as vars;
@use "@abstracts/mixins" as mx;

.sidebar {
  background-color: vars.$charcoal-blue;
  position: sticky;
  top: 0;
  z-index: 100;
  min-width: 232px;

  @media (min-width: vars.$tablet) {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.sidebar__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem 1rem;

  @include mx.text-emphasis-l;

  @media (min-width: vars.$tablet) {
    flex-direction: column;
    padding: 1rem 0 1rem 1rem;
    @include mx.text-emphasis-m;
  }

  &--sub {
    display: none;

    @media (min-width: vars.$tablet) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0.5rem 0 0.5rem 1rem;
      gap: 0.5rem;
    }
  }
}

.sidebar__title {
  display: none;

  @media (min-width: vars.$tablet) {
    display: inline;
  }
}

.sidebar__link {
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;

  @media (min-width: vars.$tablet) {
    padding: 0.5rem;
  }

  &--active {
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: white;
    color: vars.$burnt-peach;

    @media (min-width: vars.$tablet) {
      border-radius: 0.5rem 0 0 0.5rem;
      padding: 0.5rem;
    }
  }

  &--sub {
    color: vars.$verdigris;

    &--active {
      color: white;
      background-color: vars.$verdigris;
    }
  }

  &--button {
    display: none;

    @media (min-width: vars.$tablet) {
      display: flex;
      border-radius: 0.5rem 0 0 0.5rem;
      padding: 0.5rem;
      background-color: white;
      color: vars.$color-text-dark;
      width: 100%;
    }
  }
}

.sidebar__sidelink {
  display: none;

  @media (min-width: vars.$tablet) {
    display: block;
  }
}
