@use "@abstracts/variables" as vars;
@use "@abstracts/mixins" as mx;

.sidebar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: vars.$color-black;

    @media (min-width: vars.$tablet) {
        display: flex;
        flex: 0 0 208px;
        flex-direction: column;
        justify-content: space-between;
        height: 100svh;
    }
}

.sidebar__brand {
    display: none;

    @media (min-width: vars.$tablet) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 2rem 1.5rem 0;
        font-size: 2.75rem;
        font-weight: 600;
        line-height: 1;
        color: vars.$color-white;
        letter-spacing: -0.07em;
    }

    span {
        font-size: 0.75rem;
        font-weight: 400;
        color: #aaa;
        letter-spacing: 0;
    }
}

.sidebar__navigation {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    @include mx.text-btn-s;

    > li {
        display: flex;
        align-items: center;
    }

    @media (min-width: vars.$tablet) {
        flex-grow: 1;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: 2.5rem 0.75rem;

        > li {
            display: block;
        }
    }
}

.sidebar__submenu {
    display: none;

    @media (min-width: vars.$tablet) {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
        padding: 0.25rem 0 0.5rem 1rem;
    }
}

.sidebar__title {
    display: none;

    @media (min-width: vars.$tablet) {
        display: inline;
    }
}

.sidebar__link {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    min-height: 40px;
    padding: 0.625rem 0.75rem;
    color: #d5d5d5;

    @include mx.view-transition;

    i {
        width: 1rem;
        text-align: center;
    }

    &:hover {
        color: vars.$color-white;
        background-color: transparent;
    }

    &--active {
        font-weight: 600;
        color: #ff7147;
        background-color: transparent;
    }

    &--sub {
        min-height: 36px;
        color: #aaa;
    }

    &--button {
        width: 100%;
        color: vars.$color-white;
        text-decoration: underline;
        text-underline-offset: 5px;
        cursor: pointer;
    }
}

.sidebar__credits {
    display: none;

    @media (min-width: vars.$tablet) {
        display: block;
        padding: 0.75rem;
    }
}

.sidebar__link + .sidebar__link--button {
    @media (min-width: vars.$tablet) {
        margin-top: 0.75rem;
    }
}
