@use "@abstracts/variables" as vars;

.image {
  overflow: hidden;
  border-radius: vars.$radius-default;
  flex-shrink: 0;

  &--big {
    width: 80px;
    height: 80px;
  }

  &--medium {
    width: 64px;
    height: 64px;
  }

  &--small {
    width: 48px;
    height: 48px;
  }

  img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}
