@use "@abstracts/mixins" as mx;

.textbook__column--main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.textbook__word {
  &--transcription {
    font-style: italic;
    @include mx.text-xs;
  }

  &--writing {
    @include mx.text-headline-s;
  }
}
