@use "@abstracts/variables" as vars;
@use "@abstracts/mixins" as mx;

.list {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;

    li {
        flex-grow: 1;
    }
}

.list__item {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;

    @include mx.view-transition;

    &--disabled {
        pointer-events: none;
    }

    &:hover {
        color: vars.$verdigris;
    }
}

.list__description {
    flex-grow: 1;
}

.list__note {
    @include mx.text-note-basic;

    color: vars.$color-text-dark;

    &--small {
        @include mx.text-s;
    }

    &--medium {
        @include mx.text-m;
    }

    &--big {
        @include mx.text-m;
    }
}

.list__details {
    color: vars.$color-text-light;
    @include mx.text-s;
}

.list__user {
    display: flex;
    flex-shrink: 0;
    gap: 0.5rem;
    align-items: center;
    color: vars.$color-text-light;
    @include mx.text-s;

    span {
        display: none;
        @media (min-width: vars.$desktop-s) {
            display: block;
        }
    }
}
