@use "@abstracts/mixins" as mx;
@use "@abstracts/variables" as vars;

.textbook {
    @include mx.main-container;
}

.textbook__controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    justify-content: flex-start;

    > * {
        width: 100%;
        min-width: 0;
    }

    @media (min-width: vars.$tablet) {
        flex-flow: row wrap;
        align-items: flex-end;

        > * {
            width: auto;
        }
    }
}
