@use "@abstracts/variables" as vars;

.icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: vars.$charcoal-blue;

    &--small {
        width: 28px;
        height: 32px;
        font-size: 1.125rem;
    }

    &--medium {
        width: 32px;
        height: 36px;
        font-size: 1.25rem;
    }

    &--big {
        width: 36px;
        height: 40px;
        font-size: 1.5rem;
    }
}
