@use "@abstracts/variables" as vars;
@use "@abstracts/mixins" as mx;

.list {
    display: grid;
    gap: 1rem;

    @media (min-width: vars.$laptop) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }

    li {
        width: 100%;
    }
}

.list__item {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 1.25rem;
    color: vars.$color-white;
    background-color: vars.$charcoal-blue;

    @include mx.view-transition;

    &:hover {
        background-color: #292929;
    }
    @media (min-width: vars.$tablet) {
        align-items: center;
    }
}

.list__mark {
    flex-shrink: 0;
    width: 2rem;
    padding-top: 0.125rem;
    font-family: monospace;
    font-size: 1.125rem;
    color: #ff7147;
}

.list__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: space-between;
}

.list__description {
    flex-grow: 1;

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.025em;
    }
}

.list__note {
    @include mx.text-note-basic;

    color: #c3c3c3;

    &--small {
        @include mx.text-s;
    }

    &--medium {
        @include mx.text-m;
    }

    &--big {
        @include mx.text-s;
    }
}
