@use "@abstracts/mixins" as mx;
@use "@abstracts/variables" as vars;

.table {
    position: relative;
    display: flex;
    flex-direction: column;
}

.table__titles,
.table__row {
    position: relative;
    display: grid;
    gap: 16px;
    width: 100%;
}

.table__titles {
    min-height: 18px;
    margin-bottom: 8px;
}

.table__row {
    min-height: 50px;
    padding: 8px 0;
}

.table__row + .table__row {
    border-top: 1px solid vars.$color-stroke;
}

.table__title,
.table__cell {
    display: flex;
    overflow: hidden;

    &--justify-start {
        justify-content: flex-start;
        text-align: left;
    }

    &--justify-center {
        justify-content: center;
        text-align: center;
    }

    &--justify-end {
        justify-content: flex-end;
        text-align: right;
    }

    &--align-start {
        align-items: flex-start;
    }

    &--align-center {
        align-items: center;
    }

    &--align-end {
        align-items: flex-end;
    }
}

.table__title {
    overflow: hidden;
    color: vars.$color-text-light;

    @include mx.text-s;
}
