@use "@abstracts/variables" as vars;
@use "@abstracts/mixins" as mx;

.badge {
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-align: center;

    &--small {
        min-width: 32px;
        padding: 0;

        @include mx.text-btn-s;
    }

    &--medium {
        min-width: 72px;
        padding: 0;

        @include mx.text-s;
    }

    &--big {
        min-width: 72px;
        padding: 0;

        @include mx.text-s;
    }
}
