@use "@abstracts/variables" as vars;
@use "@abstracts/mixins" as mx;

html {
    scroll-behavior: smooth;
}

body {
    color: vars.$color-text-dark;
    background-color: vars.$cream-50;

    @include mx.text-m;
    @include mx.font-onest(400);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100svh;

    @media (min-width: vars.$tablet) {
        flex-direction: row;
    }
}

.main {
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    max-width: 1240px;
    padding: 1rem;
    margin: 0 auto;

    @media (min-width: vars.$tablet) {
        padding: 2rem;
    }
}

:where(a, button, input, select):focus-visible {
    outline: 2px solid vars.$verdigris;
    outline-offset: 3px;
}
